
<html>
<!-- views/contact.ejs -->
<div class="form-header">
<h2>Send us a message</h2>
</div>
<form method="post" action="/test" novalidate>
  <div class="form-field">
    <label for="message">Category_id</label>
    <input class="input" id="s_category_id" name="s_category_id" type="text" value="" />
  </div>
  <div class="form-field">
    <label for="email">Weblink</label>
    <input class="input" id="url" name="url" type="url" value="" />
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>
</html>