<html>
 <table class="table table-bordered table-striped table-condensed">

                            <thead>

                                <tr>

                                    <th style="width: 18%;"> Web URL</th>

                                </tr>

                            </thead>

                            <tbody>

                                        <tr id="">
     
                                               <td style="width: 18%;"><a href="<%= data.url %>"><%= data.url %></a></td>

                                        </tr>


                            </tbody>

                        </table>
                    </html>